@charset "utf-8";
/* CSS Document */

/*table : 카테고리게시판*/
.bbs_table{ border-top: 1px solid #000; border-bottom: 1px solid #e0e0e0; margin-top:10px; word-break; keep-all; }
.bbs_table table{  width: 100%;  }
.bbs_table table thead tr th{ padding: 12px 0; text-align: center;  line-height: 19px;  }
.bbs_table table tbody .tr_new_color th,.bbs_table table tbody .tr_new_color td{  background-color: #fef4f4;font-weight:700;  }
.bbs_table table tbody td.today{ color: #ed1949; }
.bbs_table table tbody tr td{padding: 15px 0; border-top: 1px solid #e0e0e0; width: inherit; text-align: center; line-height: 17px;}
.bbs_table table tbody tr td .hit_cnt{display: none; }
.bbs_table table thead tr th .add_hit{display: none;}
.bbs_table table tbody tr td.ta-l{ text-align: left; }
.bbs_table table tbody tr td.pl20{ padding-left:20px;  }
.bbs_table table tbody tr td span{ cdisplay:inline-block; font-size:12px; }
.bbs_table table tbody tr td span.btn{ color:#fff; background-color:#999; padding:2px 5px;border-radius:2px; cursor:pointer; margin:3px 3px ;}
  .bbs_table table br{ display:none;}
.bbs_table table tbody tr td br{ display:none;}
.bbs_table table tbody tr td a.cont{ display: block; width: 95%; height: 17px; line-height: 17px; overflow: hidden; }
.counselA{ color: #ce5252; }
.counselB{ color: #005bac; }
.counselC{ color: #80aa57; }
.bbs_table table tr td span.replyCount {color:#ed1949; letter-spacing:0;}

@media screen and (max-width: 768px){

  .mobileNone{ display: none; }
  .bbs_table table tbody tr td .bbs_name{ display: none; }
  .bbs_table table tbody tr td
  .bbs_table table tbody tr td.ta-l{ text-align: left; }
  .bbs_table table thead tr th:nth-child(4){letter-spacing:-1px;}
  .bbs_table table thead tr th .add_hit{display: inline; }
  .bbs_table table tbody tr td .hit_cnt{display: inline; margin-top: 10px;color:#818181}
  .bbs_table table br{ display:block;}
  .bbs_table table tbody tr td br{ display:block;}
  .bbs_table table tbody tr td.pl20{ padding-left:0; white-space:nowrap;}
  
}
/*------------------------------------------------1024px------------------------------------------------------*/
@media screen and (min-width: 1024px) {
col.data200{width: 200px;  }
col.data{width: 100px;  }


}