@charset "utf-8";
#wrap{position:relative;}

/*header*/
#header #util{height:55px;padding-bottom:5px;}
#header #util h1{padding-top:15px;}
#header #util h1 img{width:140px;}
#header #util ul{display:none;}
#header #mMenu{display:block;position:absolute;top:0;right:0;width:65px;height:65px;padding-top:25px;box-sizing:border-box;}
#header #mMenu span{display:block;width:30px;height:2px;margin:0 auto 5px;background:#4C4948;}
#header #mMenu span:last-child{margin-bottom:0;}
#header #gnb{display:none;}

/*footer*/
#footer{position:relative;margin-top:30px;padding:60px 0;background:#3e3f44;text-align:center;}
#footer #fMenu { margin:20px 0;}
#footer #fMenu li{display:inline-block;position:relative;padding-right:15px;margin-right:10px;font-size:13px;}
#footer #fMenu li:last-child{margin-right:0;padding-right:0;}
#footer #fMenu li:after{content:"";display:block;position:absolute;top:10px;right:0;width:1px;height:10px;background:#838280;}
#footer #fMenu li:last-child:after{display:none;}
#footer #fMenu li a{display:block;padding:5px 0;color:#cdcdcd;}

#footer #family{display:none;}

#footer #company{color:#9a9a9a;} 
#footer #company .inner h1{display:inline-block;position:absolute;top:30px;left:0;width:100%;}
#footer #company .inner div{display:inline-block;vertical-align:top;}
#footer #company .inner div p{font-size:13px;}

/*mGnb*/
#mGnb{display:none;position:absolute;top:0;right:-80%;z-index:300;width:80%;height:100%;background:#fff;overflow-y:scroll;box-shadow:-4px -1px 2px rgba(0,0,0,0.1);}
#mGnb h1{height:61px;padding:12px 20px 10px;box-sizing:border-box;background:#005BAC;}
#mGnb h1 img{width:180px;}
#mGnb .mDepth1{padding:20px 10px;box-sizing:border-box;}
#mGnb .mDepth1 > li > a{display:block;padding:15px 10px;font-size:18px;font-weight:bold;}
#mGnb .mDepth2{margin-bottom:30px;border-top:1px solid #b2b2b2;}
#mGnb .mDepth1 > li:last-child .mDepth2{margin-bottom:0;}
#mGnb .mDepth2 > li > a{display:block;padding:15px 10px;border-bottom:1px solid #e5e5e5;font-size:15px;color:#333;}
#mGnb .mDepth2 > li > a.plus{background:url('/resources/public/images/common/morePlusB.png') no-repeat 94% center/15px auto;}
#mGnb .mDepth2 > li > a.plus.active{background:url('/resources/public/images/common/menuMinus.gif') no-repeat 94% center/16px auto;}
#mGnb .mDepth3{display:none;overflow:hidden;}
#mGnb .mDepth3 li{
	float:left;width:100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 500ms ease-out;
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
	opacity:0;
}
#mGnb .mDepth3 li.active{
	-webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity:1;
}

#mGnb .mDepth3 li.active:nth-child(2){
	-webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
}

#mGnb .mDepth3 li.active:nth-child(3){
	-webkit-transition-delay: 700ms;
    -moz-transition-delay: 700ms;
    -ms-transition-delay: 700ms;
    -o-transition-delay: 700ms;
    transition-delay: 700ms;
}

#mGnb .mDepth3 li.active:nth-child(4){
	-webkit-transition-delay: 900ms;
    -moz-transition-delay: 900ms;
    -ms-transition-delay: 900ms;
    -o-transition-delay: 900ms;
    transition-delay: 900ms;
}

#mGnb .mDepth3 li.active:nth-child(5){
	-webkit-transition-delay: 1100ms;
    -moz-transition-delay: 1100ms;
    -ms-transition-delay: 1100ms;
    -o-transition-delay: 1100ms;
    transition-delay: 1100ms;
}

#mGnb .mDepth3 li.active:nth-child(6){
	-webkit-transition-delay: 1300ms;
    -moz-transition-delay: 1300ms;
    -ms-transition-delay: 1300ms;
    -o-transition-delay: 1300ms;
    transition-delay: 1300ms;
}

#mGnb .mDepth3 li.active:nth-child(7){
	-webkit-transition-delay: 1500ms;
    -moz-transition-delay: 1500ms;
    -ms-transition-delay: 1500ms;
    -o-transition-delay: 1500ms;
    transition-delay: 1500ms;
}

#mGnb .mDepth3 li.active:nth-child(8){
	-webkit-transition-delay: 1700ms;
    -moz-transition-delay: 1700ms;
    -ms-transition-delay: 1700ms;
    -o-transition-delay: 1700ms;
    transition-delay: 1700ms;
}
#mGnb .mDepth3 li a{display:block;margin-bottom:1px;padding:15px;background:#ececec;text-indent:10px;}

#mGnb .mUtil{margin-top:20px;text-align:center;}
#mGnb .mUtil li{display:inline-block;width:40%;border:1px solid #d9d9d9;border-radius:5px;font-size:12px;text-align:center;}
#mGnb .mUtil li:last-child{margin-left:10px;}
#mGnb .mUtil li a{display:block;padding:7px 0;}

#mGnb .mGnbClose{display:block;position:absolute;top:0;right:0;width:55px;height:61px;background:url('/resources/public/images/common/closeW.png') no-repeat center/17px auto;text-indent:-9999px;}

#nav{display:none;}

#siteMapWrap{display:none;}


/* 2019.09.09 customer 롤링배너 추가 */
div .relation_wrap{width:100%;background:#fff;  border-bottom:1px solid #d9d9d9;}
div .relation_wrap2{width:1000px; margin:0 auto; padding:0 24px; position:Relative;}
div .relation_wrap2 h3{text-align:center; padding-top:50px;}
div .relation{width:870px; height:60px; margin:0 auto; overflow:hidden; position:relative; }
div .relation .motion_box{overflow:hidden;  height:60px; position:absolute; left:0; top:0;}
div .relation ul{overflow:hidden; float:left;}
div .relation ul li{float:left; text-align:center; padding:0 20px; padding:0 20px; position:relative; height:60px; display:table;}
div .relation ul li a{display:table-cell; width:100%; height:60px; vertical-align:middle;}
div .relation_prev{position:absolute; left:25px; height:60px; width:28px; line-height:100%; padding-top:23px; text-align:center; cursor:pointer;}
div .relation_next{position:absolute; right:25px; height:60px; width:28px; line-height:100%; padding-top:23px; text-align:center; cursor:pointer;}
